.circle-btn {
  width: 16px;
  height: 16px;
  border: 2px solid #4c85b1;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.circle-btn:hover {
  background-color: #4c85b1;
}
.alltasks{
    display: flex;
    justify-content: end;
}

